.mf10 {
    margin-left: 6px;
}

.w100 {
    width: 100%;
}

.font-white {
    color: white;
}

.red {
    color: red;
}

.tr {
    text-align: right;
}

.tc {
    text-align: center;
}

.mt10 {
    margin-top: 10px;
}

.mt40 {
    margin-top: 40px;
}

.bg {
    background-size: 100% 100px;
    width: 100%;
    min-height: 100px;
    line-height: 25px;
    padding-top: 25px;
    margin-bottom: 25px;
    box-sizing: border-box;
    background-image: url("/images/sign-up-bg.png");
}

.welcome {
    text-align: center;
    color: white;
    font-size: 16px;
}

.col-xs-2 {
    padding-right: 0;
    padding-left: 0;
    text-align: right;
}

.row {
    margin: 0;
}

.bg-recommend {
    height: 80px;
    line-height: 80px;
    color: white;
    font-size: 22px;
    letter-spacing: 4px;
    text-align: center;
    background: #95999c;
}

.avatar60 {
    width: 60px;
}

.navbar-brand {
    font-weight: bold;
}